
$dark-primary-color    : #303F9F; /*background*/
$default-primary-color : #3F51B5; /*background*/
$light-primary-color   : #C5CAE9; /*background*/
$text-primary-color    : #FFFFFF; /*color*/
$accent-color          : #FF9800; /*background*/
$primary-text-color    : #212121; /*color*/
$secondary-text-color  : #757575; /*color*/
$divider-color         : #BDBDBD; /*: border-color: */

$font-family1: 'Ubuntu', sans-serif;
$font-family2: 'Sarabun', sans-serif;
$font-family3: 'Megrim', cursive;
