{% extends "base.html" %}

{% block title %} - logIn{% endblock %}

{% block contenido %}

<div class="logInWraper">
<!-- <p class="continuar">Continuar como:</p>
<h4 id="preSign">VALDERRAMA</h4> -->
  <form id= "logForm" action="" method="POST">
    {% csrf_token %}
    <!-- <label for="GET-name">password</label> -->
    <input id="username" type="text" name="username" maxlength="20" placeholder="User name" required>
    <input id="GET-password" type="password" name="password" maxlength="10" placeholder="password" required>
    <!-- <label for="password">password</label> -->
    <!-- <input type="submit" value="Save"> -->
    <div class= "formularioLogIn">
      <a href="/"><h6 class="recuperar">recuperar password</h6></a>
      <input class="btnForm btnEnviar" type="submit" name="submit" value="Enviar" />
    </div>
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% else %}
    <input type="hidden" name="next" value="/" />
    {% endif %}
    {% if msg %}
    <aside class="alert alert-dismissible alert-danger">
        {{ msg }}
    </aside>
    {% endif %}
  </form>
</div>

{% endblock %}
