<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Sarabun|Ubuntu" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
      <link rel="stylesheet" href="/static/mdesigner/css/main_designer.css">
      <link rel="stylesheet" href="/static/mdesigner/css/dashboard.css">
      <title>Administrator Dashboard</title>
  </head>

<form id= "logForm" action="" method="POST">
  {% csrf_token %}
  <h4>Create User</h4>
  <input id="username_signup" type="text" name="username_signup" maxlength="10" placeholder="User name" required>
  <input id="email_signup" type="email" name="email_signup" maxlength="30" placeholder="E-mail" required>
  <input id="password_signup" type="password" name="password_signup" maxlength="30" placeholder="Password" required>
  <input id="password_confirmation" type="password" name="password_confirmation" maxlength="30" placeholder="Repeat Password" required>
  <input type="submit" name="submit" class="bSign" value="Create_User"/>
</form>


<form id= "logForm" action="" method="POST">
  {% csrf_token %}
  <h4>Create Company</h4>
  <input id="companyname" type="text" name="companyname" maxlength="30" placeholder="Company name" required>
  <input id="shortcompany" type="text" name="shortcompany" maxlength="10" placeholder="Company short name" required>
  <input type="submit" name="submit" class="bSign" value="Create_Company"/>
</form>


<form id= "logForm" action="" method="POST">
  {% csrf_token %}
  <h4>Create Asset</h4>
  <p>In progress<br>
    <br>Module
    <br>Asset Name
    <br>image
    <br>image base size
    <br>image
    <br>image height size
    <br>text
    <br>text font
    <br>text size
  </p>
</form>
